.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background: #A9A9A9;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.tabs{
    margin-bottom: 20px;
}

.dispNone{
    display: none;
}

.dispBlock{
    display: block;
}
.red{
    color: red;
}

@media (max-width: 992px) {
    .header {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .headerItem{
        margin-bottom: 10px;
    }
}

.registered{
    padding: 10px;
    background-color: black;
    color: #fff;
    position: fixed;
    bottom: 0;
    left:0;
}

.codemsg{
    color: red;
    font-size: 10px;
    width: 200px;
    word-wrap: normal;
}